
<div class="centrar" *ngIf="!showAnimation; else errorTemplate">

  <div class="componente"> 
    <h3 class="Titulo">Cupones</h3>

    <div class="centrar">
        <div class="CompBus">
          <h3 class="TituloBus">Buscar por nombre: </h3>
            <form [formGroup]="parametro" (ngSubmit)="ConsultaFiltro()">
              <div class="buscar">
                  <input type="text" class="contBuscar" formControlName="filtro">
                  <button class="btnBuscar" type="submit"><fa-icon id="Icono" [icon]="faMagnifyingGlass"></fa-icon></button>
               </div>
            </form>

            <button id="Nuevo" (click)="AbrirModal()">Nuevo</button>
        </div>
    </div>

<table class="table table-hover">
    <thead class="table">
        <tr>
            <th>Código</th>
            <th>Porcentaje</th>
            <th>Fecha Inicio</th>
            <th>Fecha de Expiracion</th>
        </tr>
    </thead>
    <tbody>
        @for (item of CuponList; track $index) 
        {
            <tr>
                <td>{{item.cuponCode}}</td>
                <td>{{item.porcetanjeDescuento}}%</td>
                <td>{{item.fechaInicio}}</td>
                <td>{{item.fechaExpiracion}}</td>
            </tr>
        }
    </tbody>
</table>

  </div>
</div>

  <ng-template #errorTemplate>
    <div class="ContenedorAnim">
        
        <div class="Animacion">
          <ng-lottie [options]="animationOptions"></ng-lottie>
        </div>

        <h3 class="Alerta">Cupones no disponibles!</h3>
    </div>
  </ng-template>


<app-agregar-cup *ngIf="showModal" (cerrarModal)="CerrarModal()"></app-agregar-cup>