
<div class="centrar" *ngIf="!showAnimation; else errorTemplate">

    <div class="contenedor">
        @for (item of LibroLista; track $index)
        {
         <div class="Producto">
            
            <div (click)="MasInformacion(item.libreriaMaterialId)">
            <img id="img" [src]="'data:imagen/png;base64,' + item.imagen" alt="Imagen del autor">
               
            <div class="Informacion">
                <h3 class="TituloLibro">{{item.titulo}}</h3>
                <p class="PrecioLibro">$ {{item.precio}}</p>
            </div>
        </div>

            <button class="AgregarProducto" (click)="AgregarAlCarrito(item.libreriaMaterialId)">Agregar</button>
         </div>      
        }
    </div>

</div>

<ng-template #errorTemplate>
    <div class="ContenedorAnim">
        
        <div class="Animacion">
          <ng-lottie [options]="animationOptions"></ng-lottie>
        </div>

        <h3 class="Alerta">Ocurrio un error!</h3>
    </div>
  </ng-template>