<div id="Crear" class="modal">
    <div class="modal-content">
        <span class="close" (click)="close()">&times;</span>
        <div class="centrar">
        <div class="container">
            <h3 class="TituloModal">Crear nuevo Libro</h3>

<form [formGroup]="Libro" (ngSubmit)="agregar()" novalidate>

    <div class="form-group requerimiento">
    <label  class="descripcion">Titulo: </label>
    <input type="text" class="form-control" id="titulo" formControlName="titulo"placeholder="Nombre del libro" required>
</div>

<div class="form-group requerimiento">
    <label  class="descripcion">Precio: </label>
    <input type="number" class="form-control" id="precio" formControlName="precio"placeholder="$" required>
</div>

<div class="form-group requerimiento">
    <label  class="descripcion">Fecha de publicacion: </label>
    <input type="date" class="form-control" id="fechaPublicacion" formControlName="fechaPublicacion" required>
</div>

<div class="form-group requerimiento">
    <label  class="descripcion">Selecciona un autor:</label>
    <select class="form-control" id="autorLibro" formControlName="autorLibro" required>
        <option value="" disabled selected>seleccione un autor</option>
        <option *ngFor="let autor of AutorList" [value]="autor.autorLibroGuid">{{ autor.nombre}} {{autor.apellido}}</option>
    </select>
</div>

<div class="requerimiento">
<button type="submit" class="btn btn-primary mt-3" [disabled]="!Libro.valid">Guardar</button>
</div>
</form>
</div>
</div>
</div>
</div>