@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

nav {
    margin: 27px auto 0;
    position: relative;
    width: 400px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }

  nav a{
    line-height: 50px;
	height: 100%;
  font-family: "Oswald", sans-serif;
	font-size: 20px;
	display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 200px;
  }


 nav a:hover, nav a.active {
    background-color: #1abc9c;
    border-radius: 8px 0 0 8px;
 }

 nav a:nth-child(2):hover, nav a:nth-child(2).active {
    background-color: #e74c3c;
    border-radius: 0 8px 8px 0;
 }