
<div class="Unir">

  <div class="centrar">
  <ul id="Menu" class="slidenav">
    
    <li>
      <div class="InfCli">
         <img src="Logo.png" class="img">
         <!-- <p>Adminstrador</p> -->
      </div>
    </li>

    <li>
      <a>
        <fa-icon id="Icono" [icon]="faHouse" [ngClass]="{'icono-activo': isActive('/Home')}"></fa-icon>
         <p>Home</p>
      </a>
    </li>

    <li>
      <a routerLink="/Autor" routerLinkActive="active" >
        <fa-icon id="Icono" [icon]="faUser" [ngClass]="{'icono-activo': isActive('/Autor')}"></fa-icon>
        <p>Autor</p> 
      </a>
    </li>

    <li>
      <a routerLink="/Libro" routerLinkActive="active"> 
        <fa-icon id="Icono" [icon]="faBook" [ngClass]="{'icono-activo': isActive('/Libro')}"></fa-icon>
        <p>Libro</p>
      </a>
    </li>

    <li>
      <a routerLink="/Cupon" routerLinkActive="active"> 
        <fa-icon id="Icono" [icon]="faTicket" [ngClass]="{'icono-activo': isActive('/Cupon')}"></fa-icon>
        <p>Cupon</p>
      </a>
    </li>
    
    <li>
      <a routerLink="/Ventas" routerLinkActive="active"> 
        <fa-icon id="Icono" [icon]="faWallet" [ngClass]="{'icono-activo': isActive('/Ventas')}"></fa-icon>
        <p>Ventas</p>
      </a>
    </li>


    <li>
      <a routerLink="/Tienda" routerLinkActive="active"> 
        <fa-icon id="Icono" [icon]="faShop" [ngClass]="{'icono-activo': isActive('/Tienda')}"></fa-icon>
        <p>Regresar</p>
      </a>
    </li>
  </ul>
</div>

  <div class="content">
    <div  class="Paginas">
      <router-outlet />
    </div>
  </div>

</div>