
<div class="centrar" *ngIf="!showAnimation; else errorTemplate">

  <div class="componente">
    <h3 class="Titulo">Autores</h3>

    <div class="centrar">
      <div class="CompBus">
          <h3 class="TituloBus">Buscar por Guid:</h3>
           
          <form [formGroup]="parametro" (ngSubmit)="ConsultaFiltro()">
             <div class="buscar">
                <input type="text" class="contBuscar" formControlName="filtro">
                <button class="btnBuscar" type="submit"><fa-icon id="Icono" [icon]="faMagnifyingGlass"></fa-icon></button>
             </div>
          </form>

          <button id="Nuevo" (click)="AbrirModal()">Nuevo</button>

       </div>
    </div>

<table class="table tabla-hover">
    <thead class="table">
        <tr>
            <th></th>
            <th >Nombre</th>
            <th>Apellido</th>
            <th>Fecha de nacimiento</th>
            <th>Guid</th>
            
        </tr>
    </thead>
    <tbody>
        @for (item of AutorList; track $index) 
        {
            <tr>
                <td><img id="img" [src]="'data:imagen/png;base64,' + item.imagen" alt="Imagen del autor"></td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.fechaNacimiento}}</td>
                <td>{{item.autorLibroGuid}}</td>
            </tr>
        }
    </tbody>
</table>


</div>
</div>

<ng-template #errorTemplate>
    <div class="ContenedorAnim">
        
        <div class="Animacion">
          <ng-lottie [options]="animationOptions"></ng-lottie>
        </div>

        <h3 class="Alerta">Autores no disponibles!</h3>
    </div>
  </ng-template>


<app-agregar-aut *ngIf="showModal" (cerrarModal)="CerrarModal()"></app-agregar-aut>