@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Titulo {
    margin: 20px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 25px;
}


.buscar{
    display: flex;
    margin: 10px 0px;
}

.table {
 
    width: 100%;
    border-collapse: collapse;

    th{
        text-align: center;
        font-family: "Kanit", sans-serif;
        background-color: black;
        color: white;
        font-size: 14px;
    }

    th, td{
        font-family: "Kanit", sans-serif;
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    #img{
        width: 60px;
        height: 60px;
    }
}




.CompBus{

    width: 100%;
    display: flex;

    .TituloBus{
        font-family: "Roboto Condensed", sans-serif;
        margin: 12px;
    }

    .contBuscar{
      width: 500px;
      border-radius: 10px;
    }

    .btnBuscar {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: none;
        background-color: #282BFF;
        color: white;
    }

    #Nuevo{
        background-color: #900C3F;
        color: white;
        margin: 10px;
        height: 30px;
        border: none;
        border-radius: 10px;
        width: 100px;
      }

}
