@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Titulo {
    margin: 40px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}


.buscar{
    display: flex;
    margin: 10px 0px;
}

.tabla {
    th{
        background-color: #FF5733;
        border-radius: 10px;
        color: white;
        padding: 10px;
        
    }
}


#Nuevo{
  margin-top: 40px;
  background-color: #900C3F;
  color: white;
  height: 30px;
  border: none;
  border-radius: 10px;
  width: 300px;
}