
<div class="centrar">

  <div class="componente">
    <h3 class="Titulo">Lista de Autores</h3>

    <div class="CompBus">
       <h3>Buscar por Guid:</h3>
       <form [formGroup]="parametro" (ngSubmit)="ConsultaFiltro()">
          <div class="buscar">
            <input type="text" formControlName="filtro">
            <button type="submit">Buscar</button>
          </div>
       </form>
    </div>

<table class="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de nacimiento</th>
            <th>Guid</th>
        </tr>
    </thead>
    <tbody>
        @for (item of AutorList; track $index) 
        {
            <tr>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.fechaNacimiento}}</td>
                <td>{{item.autorLibroGuid}}</td>
            </tr>
        }
    </tbody>
</table>

<div class="centrar">
<button id="Nuevo">Nuevo</button>
</div>
</div>
</div>