
<div id="Crear" class="modal">
    <div class="modal-content">
        <span class="close" (click)="close()" >&times;</span>
        <div class="centrar">
        <div class="container">
            <h3 class="TituloModal">Crear nuevo Autor</h3>

            <form [formGroup]="Autor" (ngSubmit)="agregar()" class=" formulario needs-validation" novalidate>
                <div class="form-group requerimiento">
                    <label class="descripcion " for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre" required>
                </div>
        
                <div class="form-group requerimiento">
                    <label class="descripcion " for="apellido">Apellido:</label>
                    <input type="text" class="form-control" id="apellido" formControlName="apellido" placeholder="Apellido" required>
                </div>
        
                <div class="form-group requerimiento">
                    <label class="descripcion " for="fechaNacimiento">Fecha de nacimiento:</label>
                    <input type="date" class="form-control" id="fechaNacimiento" formControlName="fechaNacimiento" required>
                </div>

                <div class="form-group requerimiento">
                    <div class="caja" (click)="clickFileInput()">

                      <img *ngIf="imagenURL" [src]="imagenURL" alt="Vista previa de la imagen" class="VistaPrevia">

                          <span *ngIf="!imagenSeleccionada" class="alerta">Agregar imagen</span>

                          <input type="file" accept="imagen/*" class="fileInput" id="imagenLibro" (change)="CargarImagen($event)">
                
                    </div>       
                 </div>
        
                <div class="requerimiento">
                   <button type="submit" class="btn" [disabled]="!Autor.valid">Crear</button>
                </div>
            </form>

        </div>
    </div>
    </div>
</div>

