@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Titulo {
    margin: 20px;
    text-align: center;
    font-family: "Playwrite NZ", cursive;
    font-optical-sizing: auto;
    font-size: 35px;
}


.buscar{
    display: flex;
    margin: 10px 0px;
}

.table {
 
    width: 100%;
    border-collapse: collapse;

    th{
        text-align: center;
        font-family: "Kanit", sans-serif;
        background-color: black;
        color: white;
        font-size: 14px;
    }

    th, td{
        font-family: "Kanit", sans-serif;
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    #img{
        width: 100px;
        height: 100px;
    }
}




.CompBus{
    margin-top: -10px;
    width: 100%;
    display: flex;

    .TituloBus{
        font-family: "Roboto Condensed", sans-serif;
        margin: 12px;
    }

    .contBuscar{
      width: 500px;
      border-radius: 10px;
    }

    .btnBuscar {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: none;
        background-color: #2E86C1;
        color: white;
    }

    #Nuevo{
        background-color: #900C3F;
        color: white;
        margin: 10px;
        height: 30px;
        border: none;
        border-radius: 10px;
        width: 100px;
      }

}


.ContenedorAnim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .Alerta {
        text-align: center;
        font-family: "Playwrite NZ", cursive;
        font-size: 45px;
        margin-top: -90px;
        color: #fdc271;
    }

    .Animacion {
       width: 400px;
       height: 400px;
    }
}